.dropdown{
    position: relative;
}

.current-option{
    border: 1px solid gray;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.current-option.active{
    border: 2px solid gray;
}

.current-option .arrow{
    width: 0;
    height: 0;
    border-left: 0.45rem solid transparent;
    border-right: 0.45rem solid transparent;
    border-top: 0.45rem solid gray;
}

.current-option .arrow.active{
    border-top: initial;
    border-bottom: 0.45rem solid gray;
}

.dropdown .options{
    position: absolute;
    top: 110%;
    left: 0;
    display: flex;
    flex-direction: column;
    max-height: 15rem;
    width: 100%;
    overflow-y: auto;
    border-radius: 0.8rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-2rem);
    transition: all 0.2s ease-in-out;
    z-index: 50;
}

.active{
    opacity: 1 !important;
    transform: translateY(0) !important;
    pointer-events: auto !important;
}

.dropdown .options .option{
    width: 100%;
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown .options .option:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.dropdown .options .option.selected{
    background-color: rgba(0, 0, 0, 0.7);
}

