.searchbar-container {
    padding-top: 20vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.input-wrapper {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 9px #ddd;
    display: flex;
    align-items: center;
}

.searchbar-input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

.searchbar-input:focus {
    outline: none;
}

#search-icon {
    color: royalblue;
}

.searchResults {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 15rem;
    width: 100%;
    overflow-y: auto;
    border-radius: 0.8rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.6);
    pointer-events: auto;
}

.results {
    padding: 6px;
}

.results:hover {
    background-color: dimgrey;
}